.grid__section__colorTrend {
    grid-column: 1/12;
/*     padding: 2em 0 0 0; */
}

.color__main__img {
    display: grid;
/*     padding: 3em 0 0 3em; */
    width: 110%;
}

.section__color__text {
	font-size: 5rem;	
	margin: 1.5em 0 0 0;
	text-align: center;
	color: #0f4c82;
}

.section__color__text__1 {
	font-size: 2rem;	
/* 	margin: 1.5em 0 0 0; */
	text-align: center;
	color: #4b4b4b;
}

.section__color__pantone hr {
	width: 7em;
	margin: 6em auto 6em;
	border: solid;
	border-width: 0.01em;
	color: #c0c0c0;
}

.section__color__text__2 {
	font-size: 1.5rem;
	margin: 1em 8.5em 0 8.5em;
	color: #4b4b4b;
}

.section__color__text__3 {
	font-size: 1.5rem;
	margin: 1em 8.5em 4em 8.5em;
	color: #4b4b4b;
}

@media(max-width: 800px) {

    .grid__section__color {
        display: block;
        text-align: center;
        padding: 0px;
    }

    .color__main__img {
    	padding: 1em 0 0 0;
    }
    
    .section__color__text {
		font-size: 2rem;	
		margin: 2em 0 0 0;
	}
		
	.section__color__text__1 {
		font-size: 1rem;
		margin: 0 5em 6em;
	}
}