.grid__section__detail {
	grid-column: 1/13;
	padding: 0;
	font-family: 'Heebo', sans-serif;
	font-size: 10px;
	margin: 0;
	background-color: white;
}

.detail__info {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	margin-bottom: 2em;
}

.detail__boardname {
	grid-column : 2/15;
	font-size: 1rem;
	color: #727272;
	padding: 3.5em 0 0 .2em; 
}

.info__title {
	grid-column: 2/15;
	font-size: 2.3rem;
	padding: 0 0 .5em .01em;
}

.info__writter {
	grid-column: 2/3;
	font-size: 1rem;
	padding-left: .2em;
	color: #5c5c5c;
}

.info__readCount {
	grid-column: 3/4;
	font-size: 1rem;
	color: #5c5c5c;
}

.info__createDate {
	grid-column: 13/15;
	font-size: 1rem;
	text-align: right;
	padding-right: 0.1em;
	color: #5c5c5c;
}

.detail__content {
	grid-column: 2/15;
	font-size: 1rem;
	margin-top: 1em;
	padding: 1em 0 0 .2em;
/* 	border-style: solid; */
	border-top-style: solid;
	border-color: #c5c5c5;
/* 	border-right: none; */
/* 	border-left: none;  */
	min-height : 30em;
	border-width: .05em;
}

.info__update__button {
	grid-column: 13/14;		
}

.info__delete__button {
	grid-column: 14/15;
}

.info__update__button,
.info__delete__button {
	border-radius: 2px;
	border: none;
	color: rgb(206, 171, 150);
	cursor: pointer;
	font-size: 1.1rem;
	line-height: 1.6em;
	padding: .2em;
	margin-top: 2em;
	width: 6em;
	margin-left: .5em; 
}

.info__update__button:hover,
.info__delete__button:hover {
	background: rgb(206, 171, 150);
	color: white;
}

.reply__hr {
	margin-bottom: 2.5em;
	grid-column: 3/29;
	grid-row: 1/2;
	border: 0 none;
	color: #d8d8d8;
	height: .1em;
	background-color: #d8d8d8; 
}

.reply__userProfile {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-auto-flow: column;
	margin-bottom: 2em;
}

.reply__userProfile__img img {
	width: 4em;
}

.reply__userProfile__img {
	grid-column: 3/4;
	grid-row: 2/4;
	align-self: center;
}

.reply__username {
	grid-column: 4/5;
	font-size: .8rem;
}

.reply__createDate {
	grid-column: 5/7;
	font-size: .8rem;
}		
	
.reply__content {
	grid-column: 4/25;
	font-size: 1rem;
}

.reply__delete__button {
	grid-column: 28/29;
	grid-row: 2/4;
	width: 5em;
	height: 2.5em;
	align-self: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	color: rgb(206, 171, 150);
	font-size: .9rem;
}	

.reply__delete__button:hover {
	background: rgb(206, 171, 150);
	color: white;
}		

.reply__write {
	display: grid;
	grid-template-columns: repeat(30, 1fr);
	margin-bottom: 2em;
}

.reply__write__box {
	grid-column: 3/29;
	display: grid;
	grid-template-columns: 1fr;
	padding: 1em;
	border: solid;
	border-width: .1em;
	border-color: #d8d8d8;
	border-radius: 1em;
	margin-top: 1em;
	margin-bottom: 4em;
}

.reply__write__username {
	grid-column: 1/3;
	font-size: .8rem;
}

.reply__write__form {
	grid-column: 1/2;
	font-size: .8rem;
	border: none;
}		
	
.reply__write__button {
	grid-column: 2/3;
	padding-left: .5em;
	align-self: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	color: #6e6e6e;
	background-color: white;
	font-size: 1rem;
	align-self: end;
}